<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tech Screen</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <style>
    body { background-color: #FFFFFF; }
    h1 { 
      font-family: Lato; 
      font-size:  200%;
     }
  </style>
</head>

<body>
  <img src="https://www.att.com/ecms/dam/att/consumer/global/logos/att_globe_500x500.jpg" style="width:200px;" > 
  <h1>Tech Screen </h1>
  <form method="post" action="/item/add">
    <label for="name">Input</label>
    <input type="text" name="name">
    <input type="submit" value="Add">
  </form>
  <h4>Items:</h4>
  <ul>
    <% items.forEach(function(item) { %>
      <li>
        <%= item.name %>
      </li>
      <% }); %>
  </ul>
</body>

</html>
